*.vsidx
*.baml
*.baml
Diseño de interfaces/UD2/EjerciciosContenedores/ReplicarIterfaz/obj/Debug/net8.0-windows/MainWindow.baml
Diseño de interfaces/UD2/EjerciciosContenedores/repasoGeneral/.vs/repasoGeneral/FileContentIndex/da094c78-0e05-4564-b18e-b3d27120cbde.vsidx
Diseño de interfaces/UD2/EjerciciosContenedores/InterfazCompleta/.vs/InterfazCompleta/FileContentIndex/d53a087a-0d30-4fa6-a5a0-95ab9e32598d.vsidx
Diseño de interfaces/UD2/EjerciciosContenedores/InterfazCompleta/.vs/InterfazCompleta/FileContentIndex/3c547a36-7d7c-4134-bf2c-e5b555090695.vsidx
Diseño de interfaces/UD2/EjerciciosContenedores/EjercicioMenu/.vs/EjercicioMenu/FileContentIndex/43ef5969-460d-4846-98ca-5a95b4814257.vsidx
Diseño de interfaces/UD2/EjerciciosContenedores/EjercicioCompleto/.vs/EjercicioCompleto/FileContentIndex/14beac90-73e3-4d7e-a6a4-eefabb25c2ce.vsidx
